/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800); */


body {
	margin: 0;
	min-width: 600px;
	min-width: 600px;
/* 	background: #050505 url("#{resource['images:back.jpg']}") repeat; */
	background: #FFF;
}

#header {
	background: #1fa67a;
	padding: 0px 100px 65px;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
}



/** navigation **/
.navigation {
	float: right;
	list-style: none;
	margin: 28px 0 0;
	padding: 0;
}

.navigation-icons {
	width: 300px;
	float: right;
	list-style: none;
	margin: 25px 0 0;
	padding: 0;
}

.navigation li {
	float: left;
	margin-left: 30px;
	position: relative;
}

.navigation-icons li > a{
	float: right;
	margin-left: 10px;
	position: relative;
	color: #FFF;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
}

.navigation-icons li > a:hover{
	color: #AAA;
}

.navigation li > a {
	color: #FFF;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
}



.navigation li > a:hover {
	color: #AAA;
}
.navigation li > div {
	background-color: #FFF;
	display: none;
	width: 110px;
	position: absolute;
	left: 0px;
	top: 24px;
}
.navigation li:hover > div {
	display: block;
	color: #FFF;
}
.navigation li > div a {
	color: #FFF;
	display: block;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}
.navigation li > div a:hover {
	color: #fff;
}


.search {
	width: 150px;
	float: right;
	list-style: none;
	margin: 25px 0px 0px 30px;
	padding: 0;
}

/* user */
.user {
	float: right;
	display: inline-block;
	margin: 28px 0 0 80px;;
	padding: 0;
	
}

.user a {
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
}

.labelSair a {
	color: #327e04;
}

.labelSair i {
	color: #327e04;
}

.label {
	font-weight: 700;
	min-width: 150px;
	text-align: right;
}

.comandos {
	padding-left: 165px;
}

.cancelar {
	float: right;
}

.upperCase {
	text-transform: uppercase;
}

.ui-widget {
	font-size: 13px !important;
	
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.ui-dialog {
	top: 90px !important;
}

.gridConfiguracaoImposto {
	width: 100%;
}

.dinheiro {
	text-align: right;
}

.porcentagem {
	text-align: right;
}

.ui-state-error {
   color: #000 !important; // or some other color
}



/* menu */

.bts {
	text-align: center;
}

.bts ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.bts li {
	margin: 0 15px 15px;
	padding: 0;
	display: inline-block;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	
}

.bts ul li a {
	color: #444;
	width: 150px;
	height: 150px;
	padding: 30px 30px 30px;
	display: table-cell;
	border: 1px solid #ddd;
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	text-decoration: none;
}

.bts li a i {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	opacity: 0.8;
	color: #EEA500;
}

.bts ul li a:hover {
	color: #777;
}

.laranja{
	background:  #FF8888;
}

.verde{
	background: #00FF00;
}

